.shopDiv {
    max-width: 100%!important;
    max-height: 80%!important;
}

.mainShop {
    height: 100%
}

.e-pane-vertical {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    display: flex;
}
  
.content {
    padding: 9px;
}

/* change in display for mobile */
@media only screen and (max-width: 1008px) {
    .e-splitter.e-splitter-horizontal {
        display: inline-block;
  }
} 

app-cart {
    min-width: 450px;
}
.cartIcon {
    float: left;
    z-index: 5000;
    width: 50px;
    height: 50px;
    position: fixed;
    margin-top: 350px;
}

.cartIcon:hover {
    cursor: pointer;
}

.e-splitter .e-split-bar.e-split-bar-horizontal .e-resize-handler::before {
   font-size: 32px!important;
}