<div id='container' class="mainShop">
        <div *ngIf="hideCart" class="oi oi-cart cartIcon">
                <img (click)="hideCartFromUser(false)" src="/assets/images/cart-icon.png" height="70">
        </div>
        <ejs-splitter #resizegrip id='resizegrip'>
                <e-panes>
                        <e-pane size="30%" min='25%' max='50%' >
                                <ng-template #content>
                                        <app-cart allowEdit={{true}} (hideCart)="hideCartFromUser($event)"></app-cart>
                                </ng-template>
                        </e-pane>
                        <e-pane size="70%" min='50%' max='100%'>
                                <ng-template #content>
                                        <app-products></app-products>
                                </ng-template>
                        </e-pane>
                </e-panes>
        </ejs-splitter>
</div>