<div id='container'>
        <ejs-splitter #resizegrip id='resizegrip'>
                <e-panes>
                        <e-pane size='30%' min='20%' max='50%'>
                                <ng-template #content>
                                        <app-cart allowEdit={{true}}></app-cart>
                                </ng-template>
                        </e-pane>
                        <e-pane size='70%' min='50%' max='90%'>
                                <ng-template #content>
                                        <app-products></app-products>
                                </ng-template>
                        </e-pane>
                </e-panes>
        </ejs-splitter>
</div>