.shopDiv {
    max-width: 100%!important;
    max-height: 80%!important;
}


.e-pane-vertical {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    display: flex;
}
  
.content {
    padding: 9px;
}

/* change in display for mobile */
@media only screen and (max-width: 768px) {
    .e-splitter.e-splitter-horizontal {
        display: inline-block;
  }
} 


.cartIcon {
    float: left;
    z-index: 5000;
    width: 50px;
    height: 50px;
    position: fixed;
    margin-top: 350px;
}

.cartIcon:hover {
    cursor: pointer;
  }