<div class="orderComplete">
          <br/>
          <br/>
          <br/>
          <br/>
          <h2>Thank you for shopping with us!</h2>
          <br/>
          <br/>
          <a mat-raised-button color="primary" routerLink="/shop" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Continue Shopping</a>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <p class="invoiceDownload">If you wish to have a copy of the order, please click bellow</p>
          <button mat-raised-button (click)="dynamicDownloadTxt()" >Download Invoice</button>
          <br/>
          <br/>
          <br/>
          <br/>
</div>

