app-product-card-admin {
    float: right;
    width: 125px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 10px;
    min-width: 125px;
}

.mainProducts {
    width: 99%;
}

.container-fluid-products {
    height: 80%!important;
    overflow: hidden;
    max-height: 520px;
    margin: 10px;
}

.jumbotron-products {
    overflow: auto;
    max-height: 100%!important;
    height: 700px;
}

.categoriesFilter {
    text-align: center;
    display: inline-flex;
}


.container-fluid-filters {
    height: 100%!important;
    overflow: hidden;
    max-height: 170px;
    margin: 10px;

}

.categoryButton {
    margin-right: 5px;
    margin-left: 10px;
}

.jumbotron-filters {
    overflow: auto;
    height: 100%!important;
    padding: 15px;
}


.usedRightNow {
    background: lightblue;
}
