<h2> Add New Product</h2>


<form #addProductForm="ngForm">


    <div>
        <mat-form-field>
            <mat-label>Product Name</mat-label>
            <input type="text" matNativeControl [(ngModel)]="product.productName" name="productName" required minlength="3" maxlength="40" #productName="ngModel" pattern="[a-zA-Z ]*">
            <mat-error *ngIf="productName.errors?.required && productName.touched">Missing Product Name</mat-error>
            <mat-error *ngIf="productName.errors?.pattern || productName.errors?.minlength || productName.errors?.maxlength || productName.errors?.invalid">Name Should be 3-40 English Characters</mat-error>
        </mat-form-field>
        <br />
        <br />
    </div>


    <div>
        <mat-form-field>
            <mat-label>Product Price</mat-label>
            <input type="number" matNativeControl [(ngModel)]="product.productPrice" name="productPrice" min="0" max="10000" required #productPrice="ngModel">
            <mat-error *ngIf="productPrice.errors?.required && productPrice.touched">Missing Product Price</mat-error>
            <mat-error *ngIf="productPrice.errors?.min || productPrice.errors.max || productName.errors?.invalid">Price must be above 0</mat-error>
        </mat-form-field>
        <br />
        <br />
    </div>

    <div>
        <mat-form-field>
            <mat-label>Select Category</mat-label>
            <select matNativeControl [(ngModel)]="product.productCategoryId" name="productCategory" #productCategory="ngModel" required>
                <option *ngFor="let c of categories" [value]="c.categoryId"> {{c.categoryName}} </option>
            </select>
            <mat-error *ngIf="productCategory.errors?.required && productCategory.touched">Missing Product Category </mat-error>
            <mat-error *ngIf="productCategory.errors?.invalid">Please select real category </mat-error>
        </mat-form-field>
        <br />
        <br />
    </div>

    <div>
        <input type="file" accept="image/*" id="file" name="product-image" (change)="handleFileInput($event.target.files)">
        <img *ngIf="previewImage" [src]="previewImage" height="100" width="100" />
        <br />
        <br />

    </div>

    <button mat-raised-button color="primary" (click)="addProduct(addProductForm)">Add</button>

    <mat-error *ngIf="error">{{error}}</mat-error>

</form>