<div class="container">
    <div class="jumbotron">
        <div>
            <h2>Welcome to new Online Shop App!</h2>
            <p>We have the best online products you can ask for, just take a look at our store and see for your self!
            </p>
            <h2> Login Details:</h2>
            <div class="row">
                <div><button mat-raised-button color="accent" data-toggle="collapse" data-target="#admin">Admin
                        User</button></div>
                <div id="admin" class="panel-collapse collapse credsDiv">
                    <span>Username: Admin@google.com <br /> Password: Aa123456</span>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div><button mat-raised-button color="primary" data-toggle="collapse" data-target="#userOne">User Sample
                        One</button></div>
                <div id="userOne" class="panel-collapse collapse credsDiv">
                    <span>Username: userone@gmail.com <br /> Password: Aa123456!</span>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div><button mat-raised-button color="primary" data-toggle="collapse" data-target="#userTwo">User Sample
                        Two</button></div>
                <div id="userTwo" class="panel-collapse collapse credsDiv">
                    <span>Username: usertwo@gmail.com <br /> Password: Aa123456</span>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div><button mat-raised-button color="primary" data-toggle="collapse" data-target="#userThree">User
                        Sample Three</button></div>
                <div id="userThree" class="panel-collapse collapse credsDiv">
                    <span>Username: userthree@gmail.com <br /> Password: Aa123456</span>
                </div>
            </div>
        </div>
    </div>
</div>