div {
    height: 100%;
    margin: 0;
}

h1 {
    margin: auto;
    text-align: center;
    margin-top:5px;
}

.welcome {
    float: right;
    padding: 25px;
    font-size: 25px;
    
}

.shopLogo {
    float: left;
    margin-left: 15px;
}


@media only screen and (max-width: 600px) {
    .welcome {
        float: right;
        margin-top: -60px;
        padding: 1px;

    }
} 

@media only screen and (max-width: 900px) {
    .welcome {
        float: right;
        padding: 8px;
        font-size: 25px;
        margin-right: -20px;
        margin-top: 15px;
    }
} 



@media only screen and (max-width: 768px) {
    .welcomeDiv {
        position: absolute;
    }
} 