<div class="container-fluid">
    <div class="jumbotron mainTitle">
        <h1>Delivery And Payment Details</h1>
    </div>
    <div class="jumbotron paymentDisplay">
        <form #orderForm="ngForm">
            <div class="row">
                <div class="col-sm-12 detailsDiv">
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                    <h2>Shipping Details</h2>
                </div>
                    <div class="detailsFillInButton col-sm-1">
                        <button mat-raised-button color="primary" (click)="fillInAddressDetails(orderForm)">Use Account Address </button>
                </div>
                </div>
                    <hr>
                    <div class="inputDivs">
                        <mat-form-field>
                            <mat-label>Delivery City</mat-label>
                            <select matNativeControl [(ngModel)]="newOrder.city" name="city" required #city="ngModel">
                                <option *ngFor='let c of cities' value={{c}}>{{c}}</option>
                            </select>
                            <mat-error *ngIf="city.errors?.required || city.errors?.invalid">Please select a city</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="inputDivs">
                        <mat-form-field>
                            <mat-label>Delivery Address</mat-label>
                            <input type="text" matNativeControl [(ngModel)]="newOrder.address" name="address" required minlength="5" maxlength="40" #address="ngModel">
                            <mat-error *ngIf="address.errors?.required && address.touched">Missing Address</mat-error>
                            <mat-error *ngIf="address.errors?.minlength || address.errors?.maxlength || address.errors?.pattern || address.errors?.invalid">Must be 5-40 characters long</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="inputDivs">
                        <mat-form-field>
                            <mat-label>Date of Delivery</mat-label>
                            <input type="date" matNativeControl [(ngModel)]="newOrder.deliveryDate" name="dateOfOrder" required  min="{{todayDate | date:'yyyy-MM-dd'}}" #dateOfOrder="ngModel">
                            <mat-error *ngIf="dateOfOrder.errors?.required && dateOfOrder.touched">Missing Delivery Date</mat-error>
                            <mat-error *ngIf="dateOfOrder.errors?.invalid">Please select date bigger than today</mat-error>
                            <mat-error *ngIf="dateOfOrder.errors?.taken">Date is Taken - Please choose a different date</mat-error>
                        </mat-form-field>
                    </div>
                    
                    
                    <hr>
                    <h2>Payment Details</h2>
                    <hr>
                    <div class="inputDivs">
                        <mat-form-field>
                            <mat-label>Credit Card Number</mat-label>
                            <input type="text" matNativeControl [(ngModel)]="creditCardValue" name="creditCard" required minlength="16" maxlength="16" #creditCard="ngModel">
                            <mat-error *ngIf="creditCard.errors?.required && creditCard.touched">Missing Credit Card</mat-error>
                            <mat-error *ngIf="!creditCard.valid || creditCard.errors?.invalid">Invalid Credit Card number</mat-error>
                        </mat-form-field>
                    </div>

                    <br>
                    <button mat-raised-button color="primary" (click)="validateOrderForm(orderForm)">Schedule Delivery</button>
                    <br/>
                    <br/>
                    <div class="errorsDisplay" *ngIf="orderForm.errors?.finalError">{{orderForm.errors?.finalError}}</div>
                </div>
            </div>
        </form>
    </div>
</div>
