<div class="container">
    <div class="jumbotron">
        <h2>Login</h2>

        <form #loginForm="ngForm">
            
            <mat-form-field>
                <input matInput type="text" placeholder="Email..." name="email" [(ngModel)]="credentials.email" required autofocus #email="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                <mat-error *ngIf="email.errors?.required && email.touched">Missing Email</mat-error>
                <mat-error *ngIf="email.errors?.incorrect || email.errors?.pattern">Email must be in valid format, Please do not attempt hacking</mat-error>
            </mat-form-field>
            <br><br>

            <mat-form-field>
                <input matInput type="password" placeholder="Password..." name="password" [(ngModel)]="credentials.password" required #password="ngModel">
                <mat-error *ngIf="(password.errors?.required && password.touched) || password.errors?.incorrect" >Missing Password</mat-error>
            </mat-form-field>
            <br><br>
        
            <button mat-raised-button color="primary" (click)="validateForm(loginForm)" name="loginButton">Login</button>
            <mat-error *ngIf="loginError">{{loginError}}</mat-error>

            <br />
            <br />
            <br />
            <br />
            <!-- account do not exist - registration -->
            <p class="noAccount">New to our shop? <a mat-raised-button routerLink="/register" routerLinkActive="active">Open Account</a>
            </p>

        </form>
    </div>
</div>