<div class="container">
    <div class="jumbotron">
        <div>
            <div class="mainPageImage"><img [src]="apiBaseURL + '/images/main/marketplace.png'" width="200"
                    height="200" alt="marketplace"></div>
            <br />
            <div>
                <p class="infoP">Available products in our shop: <span class="numberInfo"> {{productsCount}}</span></p>
            </div>
            <div>
                <p class="infoP">Number of total orders submitted so far: <span class="numberInfo"> {{ordersCount}}</span></p>
            </div>
            <div>
                <br/>
                <p>Don't miss your chance on our super cheap products!</p>
            </div>
        </div>
    </div>
</div>