.container {
    height: 100%;
    width: 100%;
}

.cart-item {
    margin: auto;
}

.cartProductImage {
    height: 30px;
    width: 30px;
}

table {
    text-align: center;
    font-size: 15px;
    width: 100%;
}


