app-product-card {
    float: right;
    width: 12%;
    margin-right: 30px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 10px;
    min-width: 150px;
}

.container-fluid-products {
    height: 80%!important;
    overflow: hidden;
    max-height: 520px;
    margin: 10px;
}

.jumbotron-products {
    overflow: auto;
    max-height: 100%!important;
    height: 700px;
}

.categoriesFilter {
    text-align: center;
    display: inline-flex;
}


.container-fluid-filters {
    height: 100%!important;
    overflow: hidden;
    max-height: 160px;
    margin: 10px;

}

.categoryButton {
    margin-right: 5px;
}

.jumbotron-filters {
    overflow: auto;
    height: 100%!important;
    padding: 30px;
}

.cdk-focused {
    border: 1px solid blue;
}